section.flex-block.flex-block--team#flex
	.flex-block__wrap
		h2.flex-block__header
			| Наша команда
		.flex-block__list
			.flex-block__item
				.flex-block__img
					img(src="/static/img/team-section/one.jpg" alt="Менеджер по работе с клиентами")
				p.flex-block__descr
					| Анастасия Шишковская
				p.flex-block__descr
					| Менеджер по работе с клиентами
			.flex-block__item
				.flex-block__img
					img(src="/static/img/team-section/two.jpg" alt="Руководитель проектов")
				p.flex-block__descr
					| Сергей Егоров
				p.flex-block__descr
					| Руководитель проектов
			.flex-block__item
				.flex-block__img
					img(src="/static/img/team-section/five.jpg" alt="Помощник директора")
				p.flex-block__descr
					| Светлана Фоминых
				p.flex-block__descr
					| Помощник директора
			.flex-block__item
				.flex-block__img
					img(src="/static/img/team-section/four.jpg" alt="Директор")
				p.flex-block__descr
					| Владислав Аксенов
				p.flex-block__descr
					| Директор

